.settings
.classpath
.project
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
nbactions.xml
nb-configuration.xml
# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar
.idea/
/nbproject/
/bin/
mason.iml
.idea/**/workspace.xml
.idea/**/libraries
server/tomcat:7000/
taglib/target/
/server/target/
/server/tomcat.8080/

